<%# 引数 model: を必須に %>
<% if model && model.errors.any? %>
  <div class="error-alert">
    <ul class="error-messages">
      <% model.errors.full_messages.uniq.each do |msg| %>
        <li class="error-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>